.sidebar {
    flex: 3;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
}

.sidebarWrapper {
    padding: 20px;
}

.sidebarList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 20px;
}

.sidebarListItemText {
    margin-left: 10px;
}

.sidebarButton {
    margin-left: 10px;
}

.sidebarFriendList {
    padding: 0;
    margin-left: 0px;
}

.sidebarFriend {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 20px;
}

.sidebarFriendImg {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 10px;
}
